*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.wrapper {
  max-width: 1440px;
}
/* HEADER  */
.background-wrapper {
  width: 100%;
  background-color: var(--Colors-Background-smoke, rgba(248, 248, 251, 1));
}
header {
  width: 88%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  .header-links ul {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    cursor: pointer;
    li {
      transition: all 0.2s;
    }
    li:hover {
      color: #54a9ce;
      transform: translateY(1px);
    }
  }
  .header-btns {
    display: flex;
    gap: 28px;
    align-items: center;
    i {
      font-size: 24px;
      transition: all 0.2s;
    }
    i:hover {
      transform: translateY(-2px);
    }
    .secondary-btn {
      padding: 14px 28px;
      border: none;
      background: rgba(30, 30, 47, 0.07);
      border-radius: 8px;
      transition: all 0.2s;
    }
    .secondary-btn:hover {
      transform: translateY(-2px);
    }
  }
}

.primary-btn {
  padding: 16px 24px;
  border: 1px solid transparent;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: var(--Colors-Background-dark, rgba(30, 30, 47, 1));
  transition: all 0.4s;
}
.primary-btn:hover {
  background: rgba(30, 30, 47, 0.07);
  border: 1px solid black;
  color: black;
}

/* HERO SEC  */
.hero-sec {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 120px;
}
.hero-sec-left {
  max-width: 540px;
  p {
    display: flex;
    gap: 5px;
    font-size: 17px;
    color: #1e1e2f;
    span img {
      margin-bottom: 7px;
    }
  }
  h1 {
    font-size: 60px;
    margin-top: 28px;
    margin: 40px 0 48px;
  }
  .hero-p {
    display: flex;
    gap: 20px;
  }
  .hero-span {
    background-color: #f4dd0a;
    width: 1px;
  }
  .hero-sec-btns-btn {
    display: flex;
    gap: 16px;
    margin-top: 60px;
  }
  .watch-more {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0px 24px;
    border: none;
    border-radius: 8px;
  }
}

.hero-sec-right {
  img {
    height: 478px;
  }
}

/* BRANDS  */
.brands {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: var(--Colors-Text-grey, rgba(75, 75, 89, 1));
}

/* FEATURES  */
.features {
  max-width: 83%;
  margin: 0 auto;
}
.features-top {
  text-align: center;
  p span img {
    margin-bottom: 7px;
    margin-top: 100px;
  }
  h1 {
    font-size: 36px;
    /* font-weight: bold; */
    margin-top: 20px;
  }
}
.features-bottom {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  justify-content: space-between;
  padding: 28px 20px;
  margin-block: 60px;
  border: 1px solid var(--Colors-Border-grey, rgba(232, 232, 234, 1));
}
.card h1 {
  color: var(--Colors-Text-dark, rgba(30, 30, 47, 1));
  font-size: 24px;
  margin-block: 24px;
}
.card p {
  color: var(--Colors-Text-grey, rgba(75, 75, 89, 1));
  font-size: 14px;
  margin-bottom: 30px;
}
.card button {
  border: navajowhite;
  display: flex;
  gap: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* HERO 2 */
.hero-2 {
  /* max-height: 453px; */
}
.hero-2-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-2-img {
  height: 453px !important;
  /* max-width: 100%; */
}
.hero-2-h1 {
  font-size: 36px !important;
}

/* BLACK CARD  */
.black-card {
  max-width: 85%;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background: var(--Colors-Background-dark, rgba(30, 30, 47, 1));
  padding: 60px 120px;
  text-align: center;
  .black-card-data {
    .black-card-p {
      font-size: 48px;
      font-weight: bold;
      color: var(--Colors-Text-white, rgba(255, 255, 255, 1));
    }
    span {
      color: var(--Colors-Accent-main, rgba(84, 169, 206, 1));
    }
    p {
      color: var(--Colors-Text-white, rgba(255, 255, 255, 1));

      font-style: Medium;
      font-size: 18px;
    }
  }
  img {
    width: 2px;
    height: 40px;
  }
}
/* BLOGS */
.blogs {
  max-width: 85%;
  margin: 0 auto;
  .blogs-categories {
    width: 71%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .blogs-categories-heading {
    margin-top: 77px;
    padding: 17px 38px;
    border-bottom: 1px solid var(--Colors-Border-grey, rgba(232, 232, 234, 1));
    color: var(--Colors-Text-dark, rgba(30, 30, 47, 1));
    font-size: 14px;
    opacity: 50%;
    transition: all 0.8s;
    cursor: pointer;
  }
  .blogs-categories-heading:hover {
    border-bottom: 1px solid black;
    opacity: 100%;
  }
  .all-blogs {
    /* width: 85%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 40px;
    margin-top: 60px;
  }

  .blog-user-detail {
    display: flex;
    gap: 23px;
    color: var(--Colors-Text-dark, rgba(30, 30, 47, 1));
    .blog-user-name {
      display: flex;
      gap: 10px;
      /* font-size: 100%; */
    }
    .blog-user-date {
      display: flex;
      gap: 10px;
    }
  }
  .blogs-data {
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid rgba(232, 232, 234, 1);
    /* display: inline-block; */
    img {
      width: 100%;
      margin-bottom: 20px;
    }
    .blogs-p {
      color: var(--Colors-Text-dark, rgba(30, 30, 47, 1));
      font-weight: bolder;
      margin-block: 20px;
    }
    button {
      border: none;
      display: flex;
      gap: 12px;
      align-items: center;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .blogs-btn {
    margin-top: 60px;
    margin: 60px auto;
  }
}
/* TESTIMONIALS  */
.testimonials {
  max-width: 85%;
  margin: 0 auto;

  .testimonials-cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 220px;
  }
  .testimonials-top {
    h1 {
      margin-top: 20px;
    }
  }
  .testimonial-card-data {
    max-width: 534px;
    padding: 28px 28px 40px 28px;
    border-radius: 8px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
    margin-top: 60px;
  }
  .testimonial-card-top {
    display: flex;
    gap: 20px;
    .testimonial-card-left {
      background-color: var(--Colors-Background-smoke, rgba(248, 248, 251, 1));
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 16px;
      border-radius: 8px;
    }
    .testimonial-card-name {
      .t-name {
        font-weight: bold;
        color: var(--Colors-Text-dark, rgba(30, 30, 47, 1));
      }
      .t-info {
        font-size: 14px;
        opacity: 70%;
        margin-top: 7px;
      }
    }
    .testimonial-card-icon {
      display: flex;
      gap: 16px;
    }
  }
  .t-description {
    margin-top: 24px;
    color: var(--Colors-Text-grey, rgba(75, 75, 89, 1));
    font-family: Plus Jakarta Sans;
    line-height: 20px;
  }
  .testimonials-stars img {
    margin-top: 36px;
  }
}
/* BLUE CARD  */
.blue-card {
  max-width: 85%;
  margin: 0 auto;
  padding: 72px 93px;
  background-image: url(./img/Big-CTA.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: relative;
}
/* FOOOTER  */
.footer-wrapper {
  background-color: #1e1e2f;
  padding-top: 223px;
  margin-top: -110px;
  /* width: 1440px !important; */
}
footer {
  padding: 60px 0px;
  width: 83%;
  img {
  }
  max-width: 85%;
  /* min-height: 600px; */
  margin: 0 auto;
  .footer-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 60px;
  }
  .f-line-1 {
    p {
      margin-block: 32px;
      color: var(--Colors-Text-white, rgba(255, 255, 255, 1));
      opacity: 70%;
      font-family: Plus Jakarta Sans;
      font-size: 16px;
    }
    input {
      width: 100%;
      padding: 21px 12px;
      border: none;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.08);
    }
    .footer-btn {
      padding: 16px 24px;
      margin-top: 16px;
      color: white;
      background-color: rgba(84, 169, 206, 1);
      border: none;
      border-radius: 8px;
    }
  }
  .f-line-2 {
    width: 1px;
    height: 220px;
    background-color: rgba(255, 255, 255, 1);
  }
  .f-line-3 {
    height: 238px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
      color: rgba(255, 255, 255, 1);
      font-size: 16px;
      font-family: Plus Jakarta Sans;
      cursor: pointer;
    }
    p {
      opacity: 50%;
      color: #fff;
      cursor: pointer;
    }
  }
}
